<h1>
  Registration
</h1>
<form class="container" name="registerUser">
  <div class="form-field-container">
    <label>First Name:</label>
    <input [(ngModel)]="formData.firstName" name="firstName" type="text" placeholder="Enter First Name">
  </div>
  <div class="form-field-container">
      <label>Last Name:</label>
      <input [(ngModel)]="formData.lastName" name="lastName" type="text" placeholder="Enter Last Name">
    </div>
  <div class="form-field-container">
    <label>Email:</label>
    <input [(ngModel)]="formData.email" name="email" type="text" placeholder="Enter email address">
  </div>
  <div class="form-field-container">
    <label>Password:</label>
    <input [(ngModel)]="formData.password" name="password" type="text" placeholder="Enter password">
  </div>
  <div class="form-field-container">
    <label>Confirm Password:</label>
    <input [(ngModel)]="confirmPassword" name="confirmPassword" type="text" placeholder="Match password">
  </div>
  <div class="form-button-container">
    <button type="submit" (click)="createUser()" >Submit</button>
    <button type="reset">Reset</button>
  </div>
  <br />
  <br />
  <p>{{alertMessage}}</p>
</form>
<router-outlet></router-outlet>