<div>
  <button routerLink="/login" routerLinkActive="active">Logout</button>
  <button routerLink="/create-user" routerLinkActive="active">Create User</button>
  <br />
  <br />
  <br />
</div>

<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>View/Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <tr *ngFor="let user of userList.data">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td><button type="button" style="opacity: 0.5;" disabled (click)="editUser(user._id)">Edit</button></td>
    <td><button type="button" (click)="deleteUser(user._id)">Delete</button></td>
  </tr>
</table>
<router-outlet></router-outlet>
